
.symptoms-and-precautions__container {
    height: auto;
    width: 100%;
    margin-top: 10px;
}

.symptoms-text{
    width: 80%;
    margin : 0 auto;
    text-align : center;
}

.symptoms-heading {
    background-color: #020A48 ;
    padding : 7px 0px 7px 0px;
    color: white;
    font-weight: bold;
    border-radius : 5px;
}